@media screen and (max-width: 650px) {
    header .container {
        display: flex;
        flex-direction: column;
    }

    .botao {
        margin-top: 5px;
        width: 200px;
    }

    .filme-principal .descricao {
        margin-top: 10px;
        margin-bottom: 20px;
    }
}

@media screen and (min-width: 1000px) {
    .descricao {
        width: 50%;
    }
}
/* Fim do exercício */
